body {
  margin: 0px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
}

h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.layout-positioner {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 50px #dbdbdb;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header {
  position: relative;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header li {
  padding-top: 16px;
  padding-bottom: 16px;
}

.header a {
  font-size: 14px;
  color: #000000;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
}

.header a:hover {
  color: #a3c7de;
}

.header a:active {
  color: #e0e0e0;
}

.header .active a {
  color: #e0e0e0;
  cursor: pointer;
}

.header .active a:hover {
  color: #604e43;
}

.header .active a:active {
  color: #d6d0cc;
}

.header-menu-left {
  float: left;
}

.header-menu-left li {
  float: left;
  text-align: left;
  width: 240px;
}

.header-menu-left li:first-child {
  margin-left: 70px;
}

.header-menu-right {
  float: right;
}

.header-menu-right li {
  float: left;
  text-align: right;
  width: 240px;
}

.header-menu-right li:last-child {
  margin-right: 70px;
}

.header-logo {
   position: absolute;
   left: 50%;
   margin-left: -69px;
}

.main-banner {
  background: url("../img/bg-shape.png") no-repeat 0 100%,
              #376e96 url("../img/sedona-bg.jpg") no-repeat 0% 22%;
}

.main-banner img {
  display: block;
  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 79px;
}

.text {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 10;
  background-color: #ffffff;
}

.text-header {
  line-height: 26px;
  padding-top: 60px;
  margin-bottom: 32px;
  margin-top: 0;
}

.text-paragraph {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 55px;
}

.feature {
  font-size: 0px;
}

.feature-content {
  position: relative;
  z-index: 10;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 14px;
  width: 400px;
  background-color: #eeeeee;
  color: #000;
  height: 256px;
}

.feature-content h3 {
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: 100px;
  margin-right: 100px;
}

.feature-content p {
  margin-top: 25px;
  margin-left: 45px;
  margin-right: 45px;
}

.feature-blue {
  background-color: #81b3d2;
  color: #fff;
}

.feature-image {
  display: inline-block;
  vertical-align: top;
}

.content {
  font-size: 0px;
}

.content-item {
  display: inline-block;
  vertical-align: top;
  padding-top: 60px;
  padding-bottom: 85px;
  width: 400px;
  font-size: 14px;
  text-align: center;
}

.content-item img {
  display: block;
  margin: 0 auto;
}

.content-item:last-of-type img {
  margin-top: -5px;
}

.content-item h3 {
  margin-top: 25px;
  margin-bottom: 28px;
}

.content-item p {
  margin: 0;
  margin-left: 55px;
  margin-right: 55px;
}

.form-container {
  width: 567px;
  margin: 0 auto;
  position: relative;
}

.form-btn {
  position: relative;
  z-index: 10;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: inherit;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #766357;
}

.search-form {
  padding: 55px;
  position: absolute;
  background-color: #fff;
  top: -341px;
  z-index: 5;
}

.search-form label {
  font-weight: bold;
}

.search-form input[type="text"] {
  position: relative;
  margin-bottom: 30px;
  margin-left: 5px;
  padding-left: 15px;
  padding-right: 40px;
  width: 300px;

  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 38px;

  border: none;
  outline: none;
  background-color: #f2f2f2;
}

.search-form .icon-calendar {
  position: absolute;
  right: 68px;
  top: 63px;
  width: 21px;
  height: 22px;
  background: url("../img/sprite-icons.png") no-repeat -10px -190px;
}

.search-form .icon-calendar:hover {
  background-position: -10px -232px;
}

.search-form .icon-calendar:active {
  background-position: -10px -274px;
}

.search-form .icon-calendar:last-of-type {
  right: 68px;
  top: 135px;
}

.search-age {
  float: left;
  width:228px;
  font-size: 0px;
}

.search-age:first-of-type label {
  float: left;
  padding-top: 10px;
}

.search-age:first-of-type label + div {
  float: right;
  padding-right: 13px;
}

.search-age:last-of-type label {
  padding-top: 10px;
  display: inline-block;
}

.search-age:last-of-type label + div {
  float: right;
}

.search-age label {
  font-size: 14px;
}

.search-age input[type="text"] {
  padding: 0;
  width: 38px;
  height: 38px;
  font: inherit;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.search-age .qty-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  font-size: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-age .qty-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.search-age .qty-btn-plus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3px;
  height: 12px;
  background-color: #a9a9a9;
}

.search-age .qty-btn:hover::before,
.search-age .qty-btn-plus:hover::after {
  background-color: #000000;
}

.search-age .qty-btn:active::before,
.search-age .qty-btn-plus:active::after {
  background-color: #81b3d2;
}

.search-form .blue-btn {
  margin-top: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.brown-btn {
  background-color: #766357;
}

.brown-btn:hover {
  background-color: #604e43;
}

.brown-btn:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.blue-btn {
  background-color: #81b3d2;
}

.blue-btn:hover {
  background-color: #669ec0;
}

.blue-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  margin-bottom: -120px;
}

.footer {
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: 0px;
  background-color: #ffffff;
  opacity: 0.9;
  text-align: center;
}

.footer-hash-tag {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.footer-social {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  padding: 0;
}

.footer-social li {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin-right: 6px;
}

.footer-social li:last-child {
  margin-right: 0px;
}

.social-btn {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite-icons.png");
  background-repeat: no-repeat;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn:active::before {
  opacity: 0.3;
}

.icon-twitter::before {
  width: 17px;
  height: 15px;
  background-position: -10px -722px;
}

.icon-facebook::before {
  width: 10px;
  height: 19px;
  background-position: -10px -484px;
}

.icon-youtube::before {
  width: 20px;
  height: 16px;
  background-position: -10px -757px;
}

.footer-copyright {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  font-size: 14px;
  line-height: 26px;
}

.footer-copyright span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.footer-copyright a {
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
  width: 113px;
  height: 39px;
  background: url("../img/sprite-logo.png") no-repeat -5px -54px;
}

.footer-copyright a:hover {
  background-position: -5px -103px;
}

.footer-copyright a:active {
  background-position: -5px -5px;
}

.filter {
  padding-left: 62px;
  padding-right: 62px;
  padding-top: 25px;
  padding-bottom: 21px;

  color:#ffffff;
  background: #5f8bae url("../img/sedona-bg-filter.jpg") no-repeat 0 15%;
}

.filter-block {
  float: left;
  width: 232px;
  border: none;
}

.filter-block:last-of-type {
  float: right;
  width: 320px;
}

.filter-block legend {
  font-size: 16px;
  font-weight: bold;
}

.filter-block ul {
  margin: 0;
  padding: 0;
}

.filter-block li {
  list-style: none;
}

.filter-block input[type="checkbox"] {
  display: none;
}

.filter-block input[type="checkbox"] + label {
  display: inline-block;
  margin: 14px 0;
  padding-left: 40px;
  cursor: pointer;
  position: relative;
}

.filter-block li:last-child label {
  margin-bottom: 0;
}

.filter-block input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 22px;
  background: url("../img/sprite-icons.png") no-repeat -10px -316px;
}

.filter-block input[type="checkbox"]:checked + label::before {
  background-position: -10px -400px;
}

.filter-block input[type="checkbox"]:disabled + label::before,
.filter-block input[type="checkbox"].disabled + label::before {
  background-position: -10px -358px;
}

.filter-block input[type="checkbox"]:disabled:checked + label::before,
.filter-block input[type="checkbox"].disabled:checked + label::before {
  background-position: -10px -442px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
}

.price-controls::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 22px;
  width: 2px;
  background-color: #ffffff;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 38px;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 33px;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.range-toogle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toogle:hover {
  background-color: #1c4f80;
}

.range-toogle-min {
  left: 0;
}

.range-toogle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font: inherit;
  color: inherit;
  text-transform: inherit;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background-color: #fff;
}

.sort-block {
  padding-left: 72px;
  padding-right: 75px;
  padding-top: 31px;
  padding-bottom: 31px;
}

.sort-block div {
  float: left;
}

.sort-block div:last-of-type {
  float: right;
}

.sort-result {
  width: 135px;
  margin-right: 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort-type {
  font-size: 12px;
  line-height: 18px;
  padding-top: 5px;
}

.sort-type span {
  display: inline-block;
  vertical-align: bottom;
}

.sort-type ul {
  display: inline-block;
  vertical-align: bottom;
  padding: 0px;
  margin: 0px;
}

.sort-type li {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 33px;
}

.sort-type a {
  text-decoration: none;
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-type a:hover {
  color: #81b3d2;
}

.sort-type a:active {
  color: #000000;
  border-bottom: none;
}

.sort-type .active {
  color: #81b3d2;
  border-bottom: none;
}

.arrow-btn {
  display: inline-block;
  vertical-align: top;
  width: 11px;
  height: 10px;

  font-size: 0px;

  background: url("../img/sprite-icons.png") no-repeat;
  cursor: pointer;
}

.icon-arrow-up {
  background-position: -10px -100px;
}

.icon-arrow-down {
  margin-left: 12px;
  background-position: -10px -10px;
}

.icon-arrow-up:hover {
  background-position: -10px -160px;
}

.icon-arrow-down:hover {
  background-position: -10px -70px;
}

.icon-arrow-up:active, .sort-btns .active {
  background-position: -10px -130px;
}

.icon-arrow-down:active, .sort-btns .active {
  background-position: -10px -40px;
}

.sort-result-item {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 72px;
  padding-right: 75px;
  border-top: 1px solid #e5e5e5;
}

.sort-result-item:last-of-type {
  border-bottom: 1px solid #e5e5e5;
}

.sort-result-img {
  float: left;
  width: 135px;
  margin-right: 30px;
}

.sort-result-img img {
  display: block;
}

.sort-result-text {
  float: left;
}

.sort-result-text h3 {
  margin: 0px;
  margin-top: -4px;
  margin-bottom: 8px;
  line-height: 26px;
  cursor: pointer;
}

.sort-result-text h3:hover {
  color: #81b3d2;
}

.sort-result-text h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.sort-result-text div {
  display: inline-block;
  vertical-align: top;
  color: #333333;
}

.sort-result-btn {
  display: block;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 6px;
  padding-bottom: 5px;
  margin-right: 2px;
  margin-top: 9px;
  color: #ffffff;
  text-decoration: none;
}

.sort-result-raiting {
  float: right;
}

.sort-result-raiting ul {
  margin: 0;
  margin-bottom: 47px;
  padding: 0;
}

.sort-result-raiting li {
  float: right;
  margin-left: 7px;
  list-style: none;
  width: 18px;
  height: 18px;
}

.icon-star {
  background: url("../img/sprite-icons.png") no-repeat -10px -685px;
}

.sort-result-raiting span {
  display: block;
  padding: 6px 12px;
  color: #666666;
  background-color: #f2f2f2;
}

@keyframes appearence {
  0% { top: -341px; }
  80% { top: 86px; }
  90% { top: 70px; }
  100% { top: 86px; }
}

@keyframes disappearence {
  0% { top: 86px; }
  100% { top: -341px; }
}

.model-content-show {
  animation-name: appearence;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.model-content-close {
  animation-name: disappearence;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.25, -0.49, 0.75, 0.72);
  animation-fill-mode: forwards;
}
